In [1]:
import pandas as pd

# Cargar datos limpios
df = pd.read_csv("../data/zonaprop_clean.csv")

# Vista general
print("🔢 Cantidad de filas:", len(df))
print("\n📄 Columnas:\n", df.columns)

# Primeras filas
df.head()

🔢 Cantidad de filas: 30

📄 Columnas:
 Index(['titulo', 'precio_numerico', 'precio_por_m2', 'categoria_precio',
       'metros_cuadrados', 'categoria_tamano', 'ambientes', 'dormitorios',
       'banos', 'cocheras', 'barrio', 'ciudad', 'descripcion'],
      dtype='object')

,titulo,precio_numerico,precio_por_m2,categoria_precio,metros_cuadrados,categoria_tamano,ambientes,dormitorios,banos,cocheras,barrio,ciudad,descripcion
0,50 m² tot.\n2 amb.\n1 dorm.\n1 baño,550000,11000.000000,Medio,50,Mediano,2,1,1,0,General Paz,Córdoba,Rue negocios inmobiliarios alquila departament...
1,45 m² tot.\n5 amb.\n1 dorm.\n1 baño,540000,12000.000000,Medio,45,Pequeño,5,1,1,0,General Paz,Córdoba,Cabalen propiedades ofrece en alquiler departa...
2,60 m² tot.\n2 amb.\n1 dorm.\n1 baño\n1 coch.,400000,6666.666667,Económico,60,Mediano,2,1,1,1,General Paz,Córdoba,Jose Barrionuevo - bienes raíces- ofrece en al...
3,81 m² tot.\n5 amb.\n2 dorm.\n1 baño\n1 coch.,950000,11728.395062,Alto,81,Grande,5,2,1,1,Nueva Córdoba,Córdoba,Catiñeira Salguero ofrece en alquiler departam...
4,114 m² tot.\n3 amb.\n2 dorm.\n2 baños,1400000,12280.701754,Premium,114,Grande,3,2,2,0,Valle Escondido,Córdoba,"Departamento en alquiler en la rosella villa, ..."