In [6]:
import pandas as pd

# Cargar datos limpios
df = pd.read_csv("../data/zonaprop_clean.csv")

# Vista general
print("🔢 Cantidad de filas:", len(df))
print("\n📄 Columnas:\n", df.columns)

# Primeras filas
df.head()

🔢 Cantidad de filas: 30

📄 Columnas:
 Index(['titulo', 'precio_numerico', 'precio_por_m2', 'categoria_precio',
       'metros_cuadrados', 'categoria_tamano', 'ambientes', 'dormitorios',
       'banos', 'cocheras', 'barrio', 'ciudad', 'descripcion'],
      dtype='object')

,titulo,precio_numerico,precio_por_m2,categoria_precio,metros_cuadrados,categoria_tamano,ambientes,dormitorios,banos,cocheras,barrio,ciudad,descripcion
0,102 m² tot.\n4 amb.\n2 dorm.\n2 baños,650000,6372.549020,Medio,102,Grande,4.0,2.0,2,0,San Salvador,Córdoba,"Inmobiliaria liprandi, te ofrece: Excelente de..."
1,98 m² tot.\n6 amb.\n2 baños\n1 coch.,1100000,11224.489796,Alto,98,Grande,6.0,NaN,2,1,Villa Cabrera,Córdoba,Grupo Seis Negocios Inmobiliarios alquila depa...
2,50 m² tot.\n2 amb.\n1 dorm.\n1 baño,600000,12000.000000,Medio,50,Mediano,2.0,1.0,1,0,Villa Carlos Paz,Córdoba,Carlota Montrasi Servicios Inmobiliarios te of...
3,50 m² tot.\n2 amb.\n1 dorm.\n1 baño,500000,10000.000000,Medio,50,Mediano,2.0,1.0,1,0,Nueva Córdoba,Córdoba,"Inmobiliaria liprandi, te ofrece: Departameto ..."
4,90 m² tot.\n3 amb.\n2 dorm.\n1 baño,550000,6111.111111,Medio,90,Grande,3.0,2.0,1,0,Alto Alberdi,Córdoba,Venezia & Asociados te ofrece un amplio y herm...