In [1]:
import pandas as pd

# Cargar datos limpios
df = pd.read_csv("../data/zonaprop_clean.csv")

# Vista general
print("游댝 Cantidad de filas:", len(df))
print("\n游늯 Columnas:\n", df.columns)

# Primeras filas
df.head()

游댝 Cantidad de filas: 30

游늯 Columnas:
 Index(['titulo', 'precio_numerico', 'precio_por_m2', 'categoria_precio',
       'metros_cuadrados', 'categoria_tamano', 'ambientes', 'dormitorios',
       'banos', 'cocheras', 'barrio', 'ciudad', 'descripcion'],
      dtype='object')

,titulo,precio_numerico,precio_por_m2,categoria_precio,metros_cuadrados,categoria_tamano,ambientes,dormitorios,banos,cocheras,barrio,ciudad,descripcion
0,50 m tot.\n2 amb.\n1 dorm.\n1 ba침o,550000,11000.000000,Medio,50,Mediano,2,1,1,0,General Paz,C칩rdoba,Rue negocios inmobiliarios alquila departament...
1,45 m tot.\n5 amb.\n1 dorm.\n1 ba침o,540000,12000.000000,Medio,45,Peque침o,5,1,1,0,General Paz,C칩rdoba,Cabalen propiedades ofrece en alquiler departa...
2,60 m tot.\n2 amb.\n1 dorm.\n1 ba침o\n1 coch.,400000,6666.666667,Econ칩mico,60,Mediano,2,1,1,1,General Paz,C칩rdoba,Jose Barrionuevo - bienes ra칤ces- ofrece en al...
3,81 m tot.\n5 amb.\n2 dorm.\n1 ba침o\n1 coch.,950000,11728.395062,Alto,81,Grande,5,2,1,1,Nueva C칩rdoba,C칩rdoba,Cati침eira Salguero ofrece en alquiler departam...
4,114 m tot.\n3 amb.\n2 dorm.\n2 ba침os,1400000,12280.701754,Premium,114,Grande,3,2,2,0,Valle Escondido,C칩rdoba,"Departamento en alquiler en la rosella villa, ..."