# ğŸ§¹ Limpieza de Datos - ZonaProp Scraper

Este notebook limpia y procesa los datos scraped de ZonaProp paso a paso.

**Objetivo**: Transformar los datos raw en un dataset limpio y estructurado para anÃ¡lisis.

## ğŸ“š 1. Importar LibrerÃ­as

In [6]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings('ignore')

print("âœ… LibrerÃ­as importadas correctamente")

âœ… LibrerÃ­as importadas correctamente

## ğŸ“ 2. Cargar Datos Raw

In [7]:
# Cargar datos raw
df_raw = pd.read_csv("../data/zonaprop_raw.csv")

print(f"ğŸ“Š Dataset cargado: {len(df_raw)} propiedades")
print(f"ğŸ“‹ Columnas: {list(df_raw.columns)}")
print(f"ğŸ’¾ TamaÃ±o: {df_raw.shape}")

# Vista previa
df_raw.head(3)

ğŸ“Š Dataset cargado: 30 propiedades
ğŸ“‹ Columnas: ['titulo', 'precio', 'descripcion', 'ubicacion']
ğŸ’¾ TamaÃ±o: (30, 4)

,titulo,precio,descripcion,ubicacion
0,102 mÂ² tot.\n4 amb.\n2 dorm.\n2 baÃ±os,$ 650.000,"Inmobiliaria liprandi, te ofrece: Excelente de...","San Salvador, CÃ³rdoba"
1,98 mÂ² tot.\n6 amb.\n2 baÃ±os\n1 coch.,$ 1.100.000,Grupo Seis Negocios Inmobiliarios alquila depa...,"Villa Cabrera, CÃ³rdoba"
2,50 mÂ² tot.\n2 amb.\n1 dorm.\n1 baÃ±o,$ 600.000,Carlota Montrasi Servicios Inmobiliarios te of...,"Villa Carlos Paz, CÃ³rdoba"

## ğŸ” 3. ExploraciÃ³n Inicial

In [8]:
# InformaciÃ³n general
print("ğŸ“‹ INFO GENERAL:")
print(f"Filas: {len(df_raw)}")
print(f"Columnas: {len(df_raw.columns)}")
print(f"Valores nulos: {df_raw.isnull().sum().sum()}")

print("\nğŸ” VALORES NULOS POR COLUMNA:")
print(df_raw.isnull().sum())

print("\nğŸ“ TIPOS DE DATOS:")
print(df_raw.dtypes)

print("\nğŸ  EJEMPLO DE TÃTULO CON FORMATO:")
print("TÃ­tulo original:")
print(repr(df_raw['titulo'].iloc[0]))  # Ver formato exacto con \n
print("\nTÃ­tulo formateado:")
print(df_raw['titulo'].iloc[0])  # Ver cÃ³mo se ve normalmente

ğŸ“‹ INFO GENERAL:
Filas: 30
Columnas: 4
Valores nulos: 0

ğŸ” VALORES NULOS POR COLUMNA:
titulo         0
precio         0
descripcion    0
ubicacion      0
dtype: int64

ğŸ“ TIPOS DE DATOS:
titulo         object
precio         object
descripcion    object
ubicacion      object
dtype: object

ğŸ  EJEMPLO DE TÃTULO CON FORMATO:
TÃ­tulo original:
'102 mÂ² tot.\n4 amb.\n2 dorm.\n2 baÃ±os'

TÃ­tulo formateado:
102 mÂ² tot.
4 amb.
2 dorm.
2 baÃ±os

## ğŸ’° 4. Limpieza de Precios

In [9]:
# Crear copia para trabajar
df = df_raw.copy()

def limpiar_precio(precio_str):
    """
    Convierte string de precio a nÃºmero
    Ej: '$ 650.000' -> 650000
    """
    if pd.isna(precio_str) or precio_str == "Sin precio":
        return None
    
    # Remover $ y espacios, convertir puntos a nada
    precio_limpio = re.sub(r'[^\d]', '', str(precio_str))
    
    try:
        return int(precio_limpio)
    except:
        return None

# Aplicar limpieza
df['precio_numerico'] = df['precio'].apply(limpiar_precio)

print("ğŸ§¹ ANTES vs DESPUÃ‰S - PRECIOS:")
comparacion_precios = df[['precio', 'precio_numerico']].head(5)
print(comparacion_precios)

print(f"\nğŸ“Š ESTADÃSTICAS DE PRECIOS:")
print(df['precio_numerico'].describe())

ğŸ§¹ ANTES vs DESPUÃ‰S - PRECIOS:
        precio  precio_numerico
0    $ 650.000           650000
1  $ 1.100.000          1100000
2    $ 600.000           600000
3    $ 500.000           500000
4    $ 550.000           550000

ğŸ“Š ESTADÃSTICAS DE PRECIOS:
count    3.000000e+01
mean     6.628333e+05
std      2.461976e+05
min      3.200000e+05
25%      5.000000e+05
50%      6.000000e+05
75%      7.725000e+05
max      1.300000e+06
Name: precio_numerico, dtype: float64

## ğŸ  5. ExtracciÃ³n de CaracterÃ­sticas del TÃ­tulo

In [10]:
def extraer_caracteristicas(titulo):
    """
    Extrae metros cuadrados, ambientes, dormitorios, baÃ±os y cocheras del tÃ­tulo
    Formato esperado: '102 mÂ² tot.\n4 amb.\n2 dorm.\n2 baÃ±os'
    """
    if pd.isna(titulo):
        return None, None, None, None, None
    
    titulo_str = str(titulo)
    
    # Metros cuadrados (ej: "102 mÂ² tot.")
    metros_match = re.search(r'(\d+)\s*mÂ²', titulo_str)
    metros = int(metros_match.group(1)) if metros_match else None
    
    # Ambientes (ej: "4 amb.")
    amb_match = re.search(r'(\d+)\s*amb', titulo_str)
    ambientes = int(amb_match.group(1)) if amb_match else None
    
    # Dormitorios (ej: "2 dorm.")
    dorm_match = re.search(r'(\d+)\s*dorm', titulo_str)
    dormitorios = int(dorm_match.group(1)) if dorm_match else None
    
    # BaÃ±os (ej: "2 baÃ±os")
    bano_match = re.search(r'(\d+)\s*baÃ±o', titulo_str)
    banos = int(bano_match.group(1)) if bano_match else None
    
    # Cocheras (ej: "1 coch.")
    coch_match = re.search(r'(\d+)\s*coch', titulo_str)
    cocheras = int(coch_match.group(1)) if coch_match else 0
    
    return metros, ambientes, dormitorios, banos, cocheras

# Aplicar extracciÃ³n
print("ğŸ” Extrayendo caracterÃ­sticas del tÃ­tulo...")
caracteristicas = df['titulo'].apply(extraer_caracteristicas)

# Crear columnas separadas
df['metros_cuadrados'] = [x[0] for x in caracteristicas]
df['ambientes'] = [x[1] for x in caracteristicas]
df['dormitorios'] = [x[2] for x in caracteristicas]
df['banos'] = [x[3] for x in caracteristicas]
df['cocheras'] = [x[4] for x in caracteristicas]

print("âœ… CaracterÃ­sticas extraÃ­das correctamente!")

# Mostrar ejemplos de extracciÃ³n
print("\nğŸ” EJEMPLOS DE EXTRACCIÃ“N:")
ejemplo = df[['titulo', 'metros_cuadrados', 'ambientes', 'dormitorios', 'banos', 'cocheras']].head(3)
for idx, row in ejemplo.iterrows():
    print(f"\n{idx+1}. TÃ­tulo original:")
    # Mostrar tÃ­tulo con saltos de lÃ­nea reemplazados por | para mayor claridad
    titulo_visual = row['titulo'].replace('\n', ' | ')
    print(f"   {titulo_visual}")
    print(f"   ğŸ“ {row['metros_cuadrados']}mÂ² | ğŸ  {row['ambientes']} amb | ğŸ›ï¸ {row['dormitorios']} dorm | ğŸš¿ {row['banos']} baÃ±os | ğŸš— {row['cocheras']} coch")

# Resumen de completitud
print("\nğŸ“Š COMPLETITUD DE EXTRACCIÃ“N:")
caracteristicas_cols = ['metros_cuadrados', 'ambientes', 'dormitorios', 'banos', 'cocheras']
for col in caracteristicas_cols:
    completitud = df[col].notna().sum()
    porcentaje = completitud / len(df) * 100
    print(f"{col}: {completitud}/{len(df)} ({porcentaje:.1f}%)")

ğŸ” Extrayendo caracterÃ­sticas del tÃ­tulo...
âœ… CaracterÃ­sticas extraÃ­das correctamente!

ğŸ” EJEMPLOS DE EXTRACCIÃ“N:

1. TÃ­tulo original:
   102 mÂ² tot. | 4 amb. | 2 dorm. | 2 baÃ±os
   ğŸ“ 102mÂ² | ğŸ  4.0 amb | ğŸ›ï¸ 2.0 dorm | ğŸš¿ 2 baÃ±os | ğŸš— 0 coch

2. TÃ­tulo original:
   98 mÂ² tot. | 6 amb. | 2 baÃ±os | 1 coch.
   ğŸ“ 98mÂ² | ğŸ  6.0 amb | ğŸ›ï¸ nan dorm | ğŸš¿ 2 baÃ±os | ğŸš— 1 coch

3. TÃ­tulo original:
   50 mÂ² tot. | 2 amb. | 1 dorm. | 1 baÃ±o
   ğŸ“ 50mÂ² | ğŸ  2.0 amb | ğŸ›ï¸ 1.0 dorm | ğŸš¿ 1 baÃ±os | ğŸš— 0 coch

ğŸ“Š COMPLETITUD DE EXTRACCIÃ“N:
metros_cuadrados: 30/30 (100.0%)
ambientes: 29/30 (96.7%)
dormitorios: 29/30 (96.7%)
banos: 30/30 (100.0%)
cocheras: 30/30 (100.0%)

## ğŸ“ 6. Procesamiento de Ubicaciones

In [11]:
# Separar barrio y ciudad de la ubicaciÃ³n
df['barrio'] = df['ubicacion'].str.split(',').str[0].str.strip()
df['ciudad'] = df['ubicacion'].str.split(',').str[1].str.strip().fillna('CÃ³rdoba')

print("ğŸ“ UBICACIONES PROCESADAS:")
print(f"Barrios Ãºnicos: {df['barrio'].nunique()}")
print(f"Ciudades Ãºnicas: {df['ciudad'].nunique()}")

print("\nğŸ˜ï¸ TOP 10 BARRIOS MÃS FRECUENTES:")
print(df['barrio'].value_counts().head(10))

print("\nğŸ™ï¸ DISTRIBUCIÃ“N POR CIUDAD:")
print(df['ciudad'].value_counts())

ğŸ“ UBICACIONES PROCESADAS:
Barrios Ãºnicos: 14
Ciudades Ãºnicas: 3

ğŸ˜ï¸ TOP 10 BARRIOS MÃS FRECUENTES:
barrio
Nueva CÃ³rdoba       9
General Paz         5
Alto Alberdi        2
CÃ³rdoba             2
Manantiales         2
Centro              2
Villa Carlos Paz    1
Villa Cabrera       1
San Salvador        1
Don Bosco           1
Name: count, dtype: int64

ğŸ™ï¸ DISTRIBUCIÃ“N POR CIUDAD:
ciudad
CÃ³rdoba            28
Valle Escondido     1
Villa Allende       1
Name: count, dtype: int64

## ğŸ’¡ 7. Variables Derivadas

In [12]:
# Crear precio por metro cuadrado
df['precio_por_m2'] = df['precio_numerico'] / df['metros_cuadrados']

# Categorizar precios
def categorizar_precio(precio):
    if pd.isna(precio):
        return "Sin datos"
    elif precio < 500000:
        return "EconÃ³mico"
    elif precio < 800000:
        return "Medio"
    elif precio < 1200000:
        return "Alto"
    else:
        return "Premium"

df['categoria_precio'] = df['precio_numerico'].apply(categorizar_precio)

# Categorizar tamaÃ±os
def categorizar_tamano(metros):
    if pd.isna(metros):
        return "Sin datos"
    elif metros < 50:
        return "PequeÃ±o"
    elif metros < 80:
        return "Mediano"
    elif metros < 120:
        return "Grande"
    else:
        return "Muy grande"

df['categoria_tamano'] = df['metros_cuadrados'].apply(categorizar_tamano)

print("ğŸ’¡ VARIABLES DERIVADAS CREADAS:")
print(f"âœ… precio_por_m2: Promedio ${df['precio_por_m2'].mean():.0f}/mÂ²")
print(f"âœ… categoria_precio: {df['categoria_precio'].value_counts().to_dict()}")
print(f"âœ… categoria_tamano: {df['categoria_tamano'].value_counts().to_dict()}")

ğŸ’¡ VARIABLES DERIVADAS CREADAS:
âœ… precio_por_m2: Promedio $10156/mÂ²
âœ… categoria_precio: {'Medio': 17, 'Alto': 6, 'EconÃ³mico': 6, 'Premium': 1}
âœ… categoria_tamano: {'PequeÃ±o': 11, 'Grande': 8, 'Mediano': 8, 'Muy grande': 3}

## ğŸ’¾ 8. Guardar Dataset Limpio

In [13]:
# Seleccionar columnas importantes para el dataset final
columnas_finales = [
    'titulo', 'precio_numerico', 'precio_por_m2', 'categoria_precio',
    'metros_cuadrados', 'categoria_tamano', 'ambientes', 'dormitorios', 
    'banos', 'cocheras', 'barrio', 'ciudad', 'descripcion'
]

# Filtrar datos vÃ¡lidos (con precio y metros cuadrados)
df_final = df[columnas_finales].dropna(subset=['precio_numerico', 'metros_cuadrados'])

# Guardar dataset limpio
output_path = "../data/zonaprop_clean.csv"
df_final.to_csv(output_path, index=False, encoding='utf-8')

print(f"âœ… Dataset limpio guardado en: {output_path}")
print(f"ğŸ“Š Propiedades guardadas: {len(df_final)}")
print(f"ğŸ“‹ Columnas guardadas: {len(df_final.columns)}")
print("\nğŸ‰ Â¡LIMPIEZA DE DATOS COMPLETADA!")

# Mostrar resumen estadÃ­stico
print("\nğŸ“Š RESUMEN ESTADÃSTICO:")
estadisticas = df_final[['precio_numerico', 'precio_por_m2', 'metros_cuadrados', 'ambientes', 'dormitorios']].describe()
print(estadisticas)

print("\nğŸ·ï¸ DISTRIBUCIÃ“N POR CATEGORÃA:")
print("Precios:")
print(df_final['categoria_precio'].value_counts())
print("\nTamaÃ±os:")
print(df_final['categoria_tamano'].value_counts())

# Vista previa del dataset final
print("\nğŸ‘€ VISTA PREVIA DEL DATASET LIMPIO:")
preview_cols = ['precio_numerico', 'metros_cuadrados', 'ambientes', 'dormitorios', 'banos', 'barrio']
print(df_final[preview_cols].head())

âœ… Dataset limpio guardado en: ../data/zonaprop_clean.csv
ğŸ“Š Propiedades guardadas: 30
ğŸ“‹ Columnas guardadas: 13

ğŸ‰ Â¡LIMPIEZA DE DATOS COMPLETADA!

ğŸ“Š RESUMEN ESTADÃSTICO:
       precio_numerico  precio_por_m2  metros_cuadrados  ambientes  \
count     3.000000e+01      30.000000         30.000000  29.000000
mean      6.628333e+05   10156.406747         71.066667   2.758621
std       2.461976e+05    3572.893031         34.826598   1.353703
min       3.200000e+05    4473.684211         40.000000   2.000000
25%       5.000000e+05    7506.105834         45.000000   2.000000
50%       6.000000e+05   10185.185185         54.500000   2.000000
75%       7.725000e+05   11916.666667         90.000000   3.000000
max       1.300000e+06   22222.222222        190.000000   8.000000

       dormitorios
count    29.000000
mean      1.448276
std       0.506120
min       1.000000
25%       1.000000
50%       1.000000
75%       2.000000
max       2.000000

ğŸ·ï¸ DISTRIBUCIÃ“N POR CATEGORÃA:
Precios:
categoria_precio
Medio        17
Alto          6
EconÃ³mico     6
Premium       1
Name: count, dtype: int64

TamaÃ±os:
categoria_tamano
PequeÃ±o       11
Grande         8
Mediano        8
Muy grande     3
Name: count, dtype: int64

ğŸ‘€ VISTA PREVIA DEL DATASET LIMPIO:
   precio_numerico  metros_cuadrados  ambientes  dormitorios  banos  \
0           650000               102        4.0          2.0      2
1          1100000                98        6.0          NaN      2
2           600000                50        2.0          1.0      1
3           500000                50        2.0          1.0      1
4           550000                90        3.0          2.0      1

             barrio
0      San Salvador
1     Villa Cabrera
2  Villa Carlos Paz
3     Nueva CÃ³rdoba
4      Alto Alberdi