# üßπ Limpieza de Datos - ZonaProp Scraper

Este notebook limpia y procesa los datos scraped de ZonaProp paso a paso.

**Objetivo**: Transformar los datos raw en un dataset limpio y estructurado para an√°lisis.

## üìö 1. Importar Librer√≠as

In [1]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings('ignore')

print("‚úÖ Librer√≠as importadas correctamente")

‚úÖ Librer√≠as importadas correctamente

## üìÅ 2. Cargar Datos Raw

In [2]:
# Cargar datos raw
df_raw = pd.read_csv("../data/zonaprop_raw.csv")

print(f"üìä Dataset cargado: {len(df_raw)} propiedades")
print(f"üìã Columnas: {list(df_raw.columns)}")
print(f"üíæ Tama√±o: {df_raw.shape}")

# Vista previa
df_raw.head(3)

üìä Dataset cargado: 30 propiedades
üìã Columnas: ['titulo', 'precio', 'descripcion', 'ubicacion']
üíæ Tama√±o: (30, 4)

,titulo,precio,descripcion,ubicacion
0,50 m¬≤ tot.\n2 amb.\n1 dorm.\n1 ba√±o,$ 550.000,Rue negocios inmobiliarios alquila departament...,"General Paz, C√≥rdoba"
1,45 m¬≤ tot.\n5 amb.\n1 dorm.\n1 ba√±o,$ 540.000,Cabalen propiedades ofrece en alquiler departa...,"General Paz, C√≥rdoba"
2,60 m¬≤ tot.\n2 amb.\n1 dorm.\n1 ba√±o\n1 coch.,$ 400.000,Jose Barrionuevo - bienes ra√≠ces- ofrece en al...,"General Paz, C√≥rdoba"

## üîç 3. Exploraci√≥n Inicial

In [3]:
# Informaci√≥n general
print("üìã INFO GENERAL:")
print(f"Filas: {len(df_raw)}")
print(f"Columnas: {len(df_raw.columns)}")
print(f"Valores nulos: {df_raw.isnull().sum().sum()}")

print("\nüîé VALORES NULOS POR COLUMNA:")
print(df_raw.isnull().sum())

print("\nüìè TIPOS DE DATOS:")
print(df_raw.dtypes)

print("\nüè† EJEMPLO DE T√çTULO CON FORMATO:")
print("T√≠tulo original:")
print(repr(df_raw['titulo'].iloc[0]))  # Ver formato exacto con \n
print("\nT√≠tulo formateado:")
print(df_raw['titulo'].iloc[0])  # Ver c√≥mo se ve normalmente

üìã INFO GENERAL:
Filas: 30
Columnas: 4
Valores nulos: 0

üîé VALORES NULOS POR COLUMNA:
titulo         0
precio         0
descripcion    0
ubicacion      0
dtype: int64

üìè TIPOS DE DATOS:
titulo         object
precio         object
descripcion    object
ubicacion      object
dtype: object

üè† EJEMPLO DE T√çTULO CON FORMATO:
T√≠tulo original:
'50 m¬≤ tot.\n2 amb.\n1 dorm.\n1 ba√±o'

T√≠tulo formateado:
50 m¬≤ tot.
2 amb.
1 dorm.
1 ba√±o

## üí∞ 4. Limpieza de Precios

In [4]:
# Crear copia para trabajar
df = df_raw.copy()

def limpiar_precio(precio_str):
    """
    Convierte string de precio a n√∫mero
    Ej: '$ 650.000' -> 650000
    """
    if pd.isna(precio_str) or precio_str == "Sin precio":
        return None
    
    # Remover $ y espacios, convertir puntos a nada
    precio_limpio = re.sub(r'[^\d]', '', str(precio_str))
    
    try:
        return int(precio_limpio)
    except:
        return None

# Aplicar limpieza
df['precio_numerico'] = df['precio'].apply(limpiar_precio)

print("üßπ ANTES vs DESPU√âS - PRECIOS:")
comparacion_precios = df[['precio', 'precio_numerico']].head(5)
print(comparacion_precios)

print(f"\nüìä ESTAD√çSTICAS DE PRECIOS:")
print(df['precio_numerico'].describe())

üßπ ANTES vs DESPU√âS - PRECIOS:
        precio  precio_numerico
0    $ 550.000           550000
1    $ 540.000           540000
2    $ 400.000           400000
3    $ 950.000           950000
4  $ 1.400.000          1400000

üìä ESTAD√çSTICAS DE PRECIOS:
count    3.000000e+01
mean     6.843333e+05
std      2.683369e+05
min      4.000000e+05
25%      4.675000e+05
50%      5.800000e+05
75%      8.250000e+05
max      1.400000e+06
Name: precio_numerico, dtype: float64

## üè† 5. Extracci√≥n de Caracter√≠sticas del T√≠tulo

In [5]:
def extraer_caracteristicas(titulo):
    """
    Extrae metros cuadrados, ambientes, dormitorios, ba√±os y cocheras del t√≠tulo
    Formato esperado: '102 m¬≤ tot.\n4 amb.\n2 dorm.\n2 ba√±os'
    """
    if pd.isna(titulo):
        return None, None, None, None, None
    
    titulo_str = str(titulo)
    
    # Metros cuadrados (ej: "102 m¬≤ tot.")
    metros_match = re.search(r'(\d+)\s*m¬≤', titulo_str)
    metros = int(metros_match.group(1)) if metros_match else None
    
    # Ambientes (ej: "4 amb.")
    amb_match = re.search(r'(\d+)\s*amb', titulo_str)
    ambientes = int(amb_match.group(1)) if amb_match else None
    
    # Dormitorios (ej: "2 dorm.")
    dorm_match = re.search(r'(\d+)\s*dorm', titulo_str)
    dormitorios = int(dorm_match.group(1)) if dorm_match else None
    
    # Ba√±os (ej: "2 ba√±os")
    bano_match = re.search(r'(\d+)\s*ba√±o', titulo_str)
    banos = int(bano_match.group(1)) if bano_match else None
    
    # Cocheras (ej: "1 coch.")
    coch_match = re.search(r'(\d+)\s*coch', titulo_str)
    cocheras = int(coch_match.group(1)) if coch_match else 0
    
    return metros, ambientes, dormitorios, banos, cocheras

# Aplicar extracci√≥n
print("üîç Extrayendo caracter√≠sticas del t√≠tulo...")
caracteristicas = df['titulo'].apply(extraer_caracteristicas)

# Crear columnas separadas
df['metros_cuadrados'] = [x[0] for x in caracteristicas]
df['ambientes'] = [x[1] for x in caracteristicas]
df['dormitorios'] = [x[2] for x in caracteristicas]
df['banos'] = [x[3] for x in caracteristicas]
df['cocheras'] = [x[4] for x in caracteristicas]

print("‚úÖ Caracter√≠sticas extra√≠das correctamente!")

# Mostrar ejemplos de extracci√≥n
print("\nüîç EJEMPLOS DE EXTRACCI√ìN:")
ejemplo = df[['titulo', 'metros_cuadrados', 'ambientes', 'dormitorios', 'banos', 'cocheras']].head(3)
for idx, row in ejemplo.iterrows():
    print(f"\n{idx+1}. T√≠tulo original:")
    # Mostrar t√≠tulo con saltos de l√≠nea reemplazados por | para mayor claridad
    titulo_visual = row['titulo'].replace('\n', ' | ')
    print(f"   {titulo_visual}")
    print(f"   üìê {row['metros_cuadrados']}m¬≤ | üè† {row['ambientes']} amb | üõèÔ∏è {row['dormitorios']} dorm | üöø {row['banos']} ba√±os | üöó {row['cocheras']} coch")

# Resumen de completitud
print("\nüìä COMPLETITUD DE EXTRACCI√ìN:")
caracteristicas_cols = ['metros_cuadrados', 'ambientes', 'dormitorios', 'banos', 'cocheras']
for col in caracteristicas_cols:
    completitud = df[col].notna().sum()
    porcentaje = completitud / len(df) * 100
    print(f"{col}: {completitud}/{len(df)} ({porcentaje:.1f}%)")

üîç Extrayendo caracter√≠sticas del t√≠tulo...
‚úÖ Caracter√≠sticas extra√≠das correctamente!

üîç EJEMPLOS DE EXTRACCI√ìN:

1. T√≠tulo original:
   50 m¬≤ tot. | 2 amb. | 1 dorm. | 1 ba√±o
   üìê 50m¬≤ | üè† 2 amb | üõèÔ∏è 1 dorm | üöø 1 ba√±os | üöó 0 coch

2. T√≠tulo original:
   45 m¬≤ tot. | 5 amb. | 1 dorm. | 1 ba√±o
   üìê 45m¬≤ | üè† 5 amb | üõèÔ∏è 1 dorm | üöø 1 ba√±os | üöó 0 coch

3. T√≠tulo original:
   60 m¬≤ tot. | 2 amb. | 1 dorm. | 1 ba√±o | 1 coch.
   üìê 60m¬≤ | üè† 2 amb | üõèÔ∏è 1 dorm | üöø 1 ba√±os | üöó 1 coch

üìä COMPLETITUD DE EXTRACCI√ìN:
metros_cuadrados: 30/30 (100.0%)
ambientes: 30/30 (100.0%)
dormitorios: 30/30 (100.0%)
banos: 30/30 (100.0%)
cocheras: 30/30 (100.0%)

## üìç 6. Procesamiento de Ubicaciones

In [6]:
# Separar barrio y ciudad de la ubicaci√≥n
df['barrio'] = df['ubicacion'].str.split(',').str[0].str.strip()
df['ciudad'] = df['ubicacion'].str.split(',').str[1].str.strip().fillna('C√≥rdoba')

print("üìç UBICACIONES PROCESADAS:")
print(f"Barrios √∫nicos: {df['barrio'].nunique()}")
print(f"Ciudades √∫nicas: {df['ciudad'].nunique()}")

print("\nüèòÔ∏è TOP 10 BARRIOS M√ÅS FRECUENTES:")
print(df['barrio'].value_counts().head(10))

print("\nüèôÔ∏è DISTRIBUCI√ìN POR CIUDAD:")
print(df['ciudad'].value_counts())

üìç UBICACIONES PROCESADAS:
Barrios √∫nicos: 13
Ciudades √∫nicas: 1

üèòÔ∏è TOP 10 BARRIOS M√ÅS FRECUENTES:
barrio
Nueva C√≥rdoba                 9
General Paz                   8
Manantiales                   2
Alta C√≥rdoba                  2
Valle Escondido               1
Las Rosas                     1
G√ºemes                        1
Cofico                        1
Colinas de V√©lez S√°rsfield    1
Centro                        1
Name: count, dtype: int64

üèôÔ∏è DISTRIBUCI√ìN POR CIUDAD:
ciudad
C√≥rdoba    30
Name: count, dtype: int64

## üí° 7. Variables Derivadas

In [7]:
# Crear precio por metro cuadrado
df['precio_por_m2'] = df['precio_numerico'] / df['metros_cuadrados']

# Categorizar precios
def categorizar_precio(precio):
    if pd.isna(precio):
        return "Sin datos"
    elif precio < 500000:
        return "Econ√≥mico"
    elif precio < 800000:
        return "Medio"
    elif precio < 1200000:
        return "Alto"
    else:
        return "Premium"

df['categoria_precio'] = df['precio_numerico'].apply(categorizar_precio)

# Categorizar tama√±os
def categorizar_tamano(metros):
    if pd.isna(metros):
        return "Sin datos"
    elif metros < 50:
        return "Peque√±o"
    elif metros < 80:
        return "Mediano"
    elif metros < 120:
        return "Grande"
    else:
        return "Muy grande"

df['categoria_tamano'] = df['metros_cuadrados'].apply(categorizar_tamano)

print("üí° VARIABLES DERIVADAS CREADAS:")
print(f"‚úÖ precio_por_m2: Promedio ${df['precio_por_m2'].mean():.0f}/m¬≤")
print(f"‚úÖ categoria_precio: {df['categoria_precio'].value_counts().to_dict()}")
print(f"‚úÖ categoria_tamano: {df['categoria_tamano'].value_counts().to_dict()}")

üí° VARIABLES DERIVADAS CREADAS:
‚úÖ precio_por_m2: Promedio $10522/m¬≤
‚úÖ categoria_precio: {'Medio': 14, 'Econ√≥mico': 8, 'Alto': 6, 'Premium': 2}
‚úÖ categoria_tamano: {'Peque√±o': 12, 'Mediano': 10, 'Grande': 6, 'Muy grande': 2}

## üíæ 8. Guardar Dataset Limpio

In [8]:
# Seleccionar columnas importantes para el dataset final
columnas_finales = [
    'titulo', 'precio_numerico', 'precio_por_m2', 'categoria_precio',
    'metros_cuadrados', 'categoria_tamano', 'ambientes', 'dormitorios', 
    'banos', 'cocheras', 'barrio', 'ciudad', 'descripcion'
]

# Filtrar datos v√°lidos (con precio y metros cuadrados)
df_final = df[columnas_finales].dropna(subset=['precio_numerico', 'metros_cuadrados'])

# Guardar dataset limpio
output_path = "../data/zonaprop_clean.csv"
df_final.to_csv(output_path, index=False, encoding='utf-8')

print(f"‚úÖ Dataset limpio guardado en: {output_path}")
print(f"üìä Propiedades guardadas: {len(df_final)}")
print(f"üìã Columnas guardadas: {len(df_final.columns)}")
print("\nüéâ ¬°LIMPIEZA DE DATOS COMPLETADA!")

# Mostrar resumen estad√≠stico
print("\nüìä RESUMEN ESTAD√çSTICO:")
estadisticas = df_final[['precio_numerico', 'precio_por_m2', 'metros_cuadrados', 'ambientes', 'dormitorios']].describe()
print(estadisticas)

print("\nüè∑Ô∏è DISTRIBUCI√ìN POR CATEGOR√çA:")
print("Precios:")
print(df_final['categoria_precio'].value_counts())
print("\nTama√±os:")
print(df_final['categoria_tamano'].value_counts())

# Vista previa del dataset final
print("\nüëÄ VISTA PREVIA DEL DATASET LIMPIO:")
preview_cols = ['precio_numerico', 'metros_cuadrados', 'ambientes', 'dormitorios', 'banos', 'barrio']
print(df_final[preview_cols].head())

‚úÖ Dataset limpio guardado en: ../data/zonaprop_clean.csv
üìä Propiedades guardadas: 30
üìã Columnas guardadas: 13

üéâ ¬°LIMPIEZA DE DATOS COMPLETADA!

üìä RESUMEN ESTAD√çSTICO:
       precio_numerico  precio_por_m2  metros_cuadrados  ambientes  \
count     3.000000e+01      30.000000         30.000000  30.000000
mean      6.843333e+05   10522.363271        229.733333   3.066667
std       2.683369e+05    3843.116040        901.495842   1.412587
min       4.000000e+05     240.000000         40.000000   2.000000
25%       4.675000e+05    8744.623656         45.000000   2.000000
50%       5.800000e+05   10381.263617         54.500000   3.000000
75%       8.250000e+05   12266.081871         78.250000   3.750000
max       1.400000e+06   22222.222222       5000.000000   8.000000

       dormitorios
count    30.000000
mean      1.433333
std       0.504007
min       1.000000
25%       1.000000
50%       1.000000
75%       2.000000
max       2.000000

üè∑Ô∏è DISTRIBUCI√ìN POR CATEGOR√çA:
Precios:
categoria_precio
Medio        14
Econ√≥mico     8
Alto          6
Premium       2
Name: count, dtype: int64

Tama√±os:
categoria_tamano
Peque√±o       12
Mediano       10
Grande         6
Muy grande     2
Name: count, dtype: int64

üëÄ VISTA PREVIA DEL DATASET LIMPIO:
   precio_numerico  metros_cuadrados  ambientes  dormitorios  banos  \
0           550000                50          2            1      1
1           540000                45          5            1      1
2           400000                60          2            1      1
3           950000                81          5            2      1
4          1400000               114          3            2      2

            barrio
0      General Paz
1      General Paz
2      General Paz
3    Nueva C√≥rdoba
4  Valle Escondido